.bootfoot {
background-color: rgb(11, 138, 0) !important;
color: rgba(0, 0, 0, 0.644);
color: rgb(255, 255, 255);
font-size: .7em;
font-family: 'Volkhov', serif;
text-shadow:
-1px -1px 3px #000,
1px -1px 3px #000,
-1px 1px 3px #000,
1px 1px 3px #000;
font-weight: bold;

}

.footer-logo {
  max-width: 10%;
}

