
<div class="homestart">

    <div class="body-content">

    <div class="container">
    <div class="row">

            <div class="linktweak col-lg-6">
            <h3 class="head-h3">Postal Knowledge</h3>
            <p><a href="assets/pdfs/2019pricesheet.pdf">2019 Postal Rates</a></p>
            <p><a href="assets/pdfs/FlatMailReference.pdf">Flat Mail Reference</a></p>
            <p><a href="assets/pdfs/FoldedSelfMailerRef.pdf">Folded Self Mailer Reference</a></p>
            <p><a href="assets/pdfs/EDDM_Mail.pdf">EDDM Mail Reference</a></p>
            <p><a href="assets/pdfs/QR_Barcode_Info.pdf">QR Code Info</a></p>
            <p><a href="https://tools.usps.com/go/ZipLookupAction!input.action">Zip Code Lookup</a></p>
            <p><a href="assets/pdfs/TabsAndGlue.pdf">Tabs, Seals, and Glue Reference</a></p>
            <p><a href="assets/pdfs/StandardsForLetters.pdf">Physical Standards for Letters and Cards</a></p>
            <p><a href="assets/pdfs/DesLetPost.pdf">Designing Letters &amp; Postcards</a></p>

            <p><a href="assets/pdfs/DesFlats.pdf">Designing Flats</a></p>
            <p><a href="assets/pdfs/AncEnd.pdf">Ancillary Endorsements</a></p>
</div>

            <div class="col-lg-4">
            <h3 class="head-h3">Permit Downloads</h3>
            <p class="warning">The following indicia may be used only with permission of Mail Louisville, Inc. Prior to printing, please call for such permission and to verify that the indicia will conform to postal regulations.</p>
            <p class="boldit">Presort Standard Permit</p>
            <img class="center" src="assets/images/Presort_Standard_Permit.png">
<br>
            <p class="boldit">Presort First Class Permit</p>
            <img class="center" src="assets/images/Presort_First_Class_Permit.png">

            <br>
            <p class="boldit">Non Profit Organization</p>
            <img class="center" src="assets/images/Non_Profit_Permit.png">
    </div>
</div>
</div>
