<div class="homestart">
  <div class="body-content">
<div class="popit">
<h2 class="h2-tag">Mailing Tips</h2>
<h4 class="h4-tag">Pre-Mailing Check List:</h4>
</div>
<br>
<div class="boxit">
<div class="margins">
<ul class="tiplist" style="list-style-type:circle">
  <li>Select a target market.</li>
  <li>Provide Print Ready Artwork to Mail Louisville, or, use one of our In-House Designers</li>
  <li>Choose the format, color and type of paper for your mail piece.</li>
  <li>Mail Louisville, Inc. will help you obtain a targeted mail list based on required demographics and merge/purge your list to eliminate costly duplicates.</li>
  <li>Clean your database of undeliverable addresses. We will consult you on the best method of address hygiene which will allow you to reduce over-printing.</li>
  <li>To take advantage of the least expensive postage rates, Mail Louisville, Inc. will advise you on the best mail piece design and barcode placement to meet USPS requirements.</li>
  <li>Select the class of delivery that best meets your needs and budget (1st Class, Standard Mail, Non Profit)</li>
  <li>Choose a method of applying postage; (permit, postage meter or stamps). Permits can be expensive, however, we offer free use of our permits.</li>
  <li>Mail Louisville, Inc. will postal code the database along with performing a merge/purge. We will contact you with approximate postage and total cost of the job prior to mailing.</li>
  <li>Place your print order and request delivery expectations.</li>
  <li>Arrange for payment. We accept Visa, MasterCard, American Express, Discover, check or wire prior to mailing.</li>
  <li>In almost all circumstances, your mailing will receive 48 hour service after completion of printing.</li>
</ul>
</div>
</div>











  </div>
</div>
