<div class="homestart">
<div class="body-content">
<div class="extra-pad">
<div class="accordion" id="accordionExample">
<div class="popit">
<h2 class="h2-tag">F.A.Q.</h2>
<h4 class="h4-tag">Frequently Asked Questions</h4>
</div>
<br>
    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div class="btncolor">Can I Pay By Credit Card?</div>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Yes, we accept Visa, MasterCard, Discover, American Express, Bank Wire, or Check.
        </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div class="btncolor">Why is postage only an estimate?</div>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Our estimates are very close and we do not profit from postage. Postage may vary slightly due to the way your list sorts and precise weight of the mail piece. An original Post Office receipt is kept on file and available for your inspection. This USPS Form will state exact postage, pieces and date of mailing.
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="btncolor">  What file format should I use for my Mailing List?</div>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        We accept almost all types of databases including ASCII files, Excel, CSV, etc. One of our computer experts can assist you if needed!
      </div>
    </div>
  </div>

   <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <div class="btncolor">  What happens to my list after mailing?</div>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
      Your list will be kept on file with Mail Louisville for up to 6 months should you decide to use it again for another mailing.
      </div>
    </div>
  </div>

   <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <div class="btncolor">Will my list be kept confidential?</div>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
      Definitely. We will not divulge your information to others, use or distribute to any other parties.
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <div class="btncolor">How do I automate my mail?</div>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
      There are certain mandates for automated mail which many people find both confusing and intimidating. These restrictions include quantity, size, shape, thickness and aspect ratio of mail piece. Additional factors are standardization of addresses, quality of mail list, position and quality of the bar code. The experienced staff at Mail Louisville, Inc. will simplify the entire process from start to finish.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <div class="btncolor">  Can you remove duplicate names and addresses?</div>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
      At Mail Louisville, Inc. we use USPS approved software that will detect and identify duplicates. You can then instruct us on exactly how you would like to manage the duplicates.  The options range from one per household address to matching an exact individual for removal.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        <div class="btncolor">My printer didn't put the permit indicia on the letter! What are my options?</div>

        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
        If we ink jet the addresses on your mail piece, the indicia can be sprayed at the same time for free.
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-header" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        <div class="btncolor">I don't have a mailer ID.  Can I still mail?</div>
        </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body">
        As an added value, our customers may use our standard, first class, or non-profit permit with no added charge.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        <div class="btncolor">Why should I update my mailer list?</div>
        </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
        One of every five households move each year. Companies are also constantly on the move. As a result, you risk sending mail pieces which the Post Office cannot deliver. This un-deliverable mail can quickly exhaust your budget. Lastly, undeliverable standard mail is recycled by the Post Office.
      </div>
    </div>
  </div>

  <div class="card">
  <div class="card-header" id="headingEleven">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
      <div class="btncolor">How can I reduce undeliverable &amp; returned mail?</div>
      </button>
    </h5>
  </div>
  <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
    <div class="card-body">
    N.C.O.A. (National Change of Address) is part of our sophisticated software and is available to you as needed.
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingTwelve">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
      <div class="btncolor">What is N.C.O.A.?</div>
      </button>
    </h5>
  </div>
  <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
    <div class="card-body">
    National Change of Address compares names and addresses in your database with the latest address changes files with the USPS and uses this information to update your list. Using NCOA allows you to track valuable customers and prospects as they move. This process will dramatically reduce un-deliverables and reduce printing and mailing costs.
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingThirteen">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
      <div class="btncolor">Isn't it cheaper to print labels?</div>
      </button>
    </h5>
  </div>
  <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
    <div class="card-body">
    We can print and apply labels, however, it is almost always less costly to provide us the list electronically.
    </div>
  </div>
</div>


</div>
</div>
</div>
</div>
